td
{
    text-align: center;
    font-size: 70px;
    font-family:  'Architects Daughter', cursive;

}
body{
    font-family: 'Architects Daughter' cursive;
    text-align: center;
    background-color: rgb(250, 248, 240);
    
}
ul{
    background-color: #eb5454;
}
#menu ul li a:hover {
    background-color: #eb5454;
    padding: 10px 10px ;
}
    li{
        
        margin: 0px;
        border: rgb(0, 0, 0);
        list-style: none;
        display: inline;
        padding: 12px 12px;
        display: inline-block;
        color: black;
        text-decoration: none;
        border-bottom: 3px solid #030303;
        font-size: 15px;
        gap: 2px 2px;
        font-family: 'Poppins', sans-serif;
       background-color: #e47979;
       
    
        
}
#menu ul 
{
    background-color: #ffffff;
   
  
}
.music1{
    border-top: black solid ;
    border-bottom: solid black;
    padding: 10px;
}
footer{
    background-color: rgb(228, 197, 228);
}
h1
{
    font-size: 50px;
    font-family:'Architects Daughter' cursive; ;
}
#menu ul li a{
    text-decoration : none;
    
}

body{
    background-color: rgb(250, 248, 240);
    
    
}

td
{
    text-align: center;
    font-size: 70px;
    font-family:  'Architects Daughter', cursive;

}
body{
    font-family: 'Architects Daughter' cursive;


}
header{
    text-align: center;
}

ul{
    background-color: #eb5454;
}
#menu ul li a:hover {
    background-color: #eb5454;
    padding: 10px 10px ;
    color: white;
    border-bottom: 3px solid #fafafa;}
    li{
        
        margin: 0px;
        border: rgb(0, 0, 0);
        list-style: none;
        display: inline;
        padding: 10px 10px;
        display: inline-block;
        color: black;
        text-decoration: none;
        border-bottom: 2px solid #030303;
        font-size: 15px;
        gap: 2px 2px;
        font-family: 'Poppins', sans-serif;
       background-color: #e47979;
        color: white;
    
        
}
#menu ul 
{
    background-color: #ffffff;
  
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

.Incrivel{
    background: rgb(214, 90, 90);
     color: #103;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 4px;
}

.musicas{
    background: rgb(250, 248, 240);
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid;
}



.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

footer{
    text-align: center;
    background-color: rgb(228, 197, 228);
}

body{
    background-color: rgb(250, 248, 240);
    text-align: center;
    
}

td
{
    text-align: center;
    font-size: 70px;
    font-family:  'Architects Daughter', cursive;

}
body{
    font-family: 'Architects Daughter' cursive;


}
ul{
    background-color: #eb5454;
}
#menu ul li a:hover {
    background-color: #eb5454;
    padding: 10px 10px ;
    color: white;
    border-bottom: 3px solid #fafafa;}
    li{
        
        margin: 0px;
        border: rgb(0, 0, 0);
        list-style: none;
        display: inline;
        padding: 10px 10px;
        display: inline-block;
        color: black;
        text-decoration: none;
        border-bottom: 2px solid #030303;
        font-size: 15px;
        gap: 2px 2px;
        font-family: 'Poppins', sans-serif;
       background-color: #e47979;
        color: white;
    
        
}
#menu ul 
{
    background-color: #ffffff;
  
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

.artistash{
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid;
}

.incrivel{
    background: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
   border-radius: 4px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20x;
}