td
{
    text-align: center;
    font-size: 70px;
    font-family:  'Architects Daughter', cursive;

}
body{
    font-family: 'Architects Daughter' cursive;
    text-align: center;
    background-color: rgb(250, 248, 240);
    
}
ul{
    background-color: #eb5454;
}
#menu ul li a:hover {
    background-color: #eb5454;
    padding: 10px 10px ;
}
    li{
        
        margin: 0px;
        border: rgb(0, 0, 0);
        list-style: none;
        display: inline;
        padding: 12px 12px;
        display: inline-block;
        color: black;
        text-decoration: none;
        border-bottom: 3px solid #030303;
        font-size: 15px;
        gap: 2px 2px;
        font-family: 'Poppins', sans-serif;
       background-color: #e47979;
       
    
        
}
#menu ul 
{
    background-color: #ffffff;
   
  
}
.music1{
    border-top: black solid ;
    border-bottom: solid black;
    padding: 10px;
}
footer{
    background-color: rgb(228, 197, 228);
}
h1
{
    font-size: 50px;
    font-family:'Architects Daughter' cursive; ;
}
#menu ul li a{
    text-decoration : none;
    
}